.box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #6a72d9;
  .location {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    min-height: 100rpx;
    flex-shrink: 0;
    background: #7880dd;
    padding: 0 20rpx;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.23);
    .coordinate {
      color: #ffffff;
      font-size: 25rpx;
      line-height: 1.4; // 设置合理的行高，或者具体值如 35rpx
      word-break: break-word; // 若地址太长可断行
      white-space: normal;
      font-weight: 600;
    }
  }
  .userinfo {
    display: flex;
    height: 80rpx;
    align-items: center;
    margin: 10rpx 25rpx;
    gap: 19rpx;
    margin-top: 31rpx;
    background: #7880dd;
    border-radius: 10rpx;
    padding: 10rpx;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.23);
    .user-img {
      .img-btn {
        height: 80rpx;
        width: 80rpx;
        padding: 0;
        border: none;
        background: none;
        .img-img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .user-name {
      font-size: 24rpx;
      color: #ffff;
      width: 160rpx;
      flex: 1;
      .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .time {
        font-size: 21rpx;
        .online {
          color: #b9b9b9;
        }
      }
      .time-status {
        width: 21rpx;
        height: 21rpx;
        border-radius: 50%;
        // background: #12ba82;
        display: inline-block;
        position: relative;
        top: 6rpx;
        margin-right: 7rpx;
        /* 渐变背景 */
        background: linear-gradient(90deg, #13c419, #919191);
        background-size: 200% 200%; /* 放大背景，便于移动 */
        /* 循环动画 */
        animation: gradientMove 2s ease-in-out infinite;
      }
      /* 背景渐变动画关键帧 */
      @keyframes gradientMove {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
    .user-tag {
      overflow: hidden;
      position: relative;
    }
  }
  .search {
    margin: 15rpx 25rpx;
    background: #f9f9f9;
    border-radius: 16rpx;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.23);
    .se {
      padding: 0 0;
    }
    .s-p {
      width: 80%;
      margin: 22rpx auto;
      padding-top: 20rpx;
      .s-p-1 {
        // flex: 1;
        height: 70rpx;
        border: 1rpx #d2d2d2 solid;
        border-radius: 9rpx;
        font-size: 25rpx;
        padding-left: 21rpx;
        padding-right: 60rpx;
      }
    }
    .s-b {
      width: 80%;
      margin: 16rpx auto;
      padding-bottom: 10rpx;
    }
  }
  .card-1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center ; */
    justify-items: center;
    /* flex-wrap: wrap ; */
    overflow-y: auto;
    box-sizing: border-box;
    margin: 6rpx 25rpx;
    .card-1-1 {
    margin: 14rpx 14rpx;
    background: #ffff;
    border-radius: 10rpx;
    padding: 10rpx;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.23);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
      .venue-img-update {
        text-align: center;
        margin: 0 31rpx;
        // border-top: 1rpx solid #efefef;
        
        padding-top: 16rpx;
        .title {
          font-size: 20rpx;
          color: #646566;
        }
        .img {
          margin: 18rpx auto;
        }
      }
      .online-status {
        position: relative;
        bottom: 14rpx;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 40rpx;
        margin-top: 8rpx;
        .venue-img {
          font-size: 34rpx;
          top: 7rpx;
          position: relative;
        }
      }
      .img,.addr,.distance,.tags, .online, .group-status,.show-join-user {
        display: flex;
        justify-content: center;
      }
      .group-status {
        gap: 16rpx;
        padding: 3rpx;
        margin-top: 20rpx;
      }
      .show-join-user {
        justify-content: flex-start;
        // gap: 32rpx;
        margin-top: 23rpx;
        .o-user {
          width: 49rpx;
          height: 49rpx;
          white-space: nowrap;
          text-overflow: ellipsis;
          background: #6b6ed4;
          border-radius: 50%;
          overflow: hidden;
          flex-shrink: 0;
          color: #fff;
        }
        .join-users {
          font-size: 20rpx;
          color: #333;
          margin-left: 31rpx;
        }
      }
      .addr {
        justify-content: left;
        gap: 24rpx;
        margin-top: 10rpx;
        padding: 0 5rpx;
        .sport-icon {
          width: 80rpx;
          height: 80rpx;
          border-radius: 12rpx;
          // background: #667eea;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
        .sport-addr {
          .t-f {
            font-size: 28rpx;
            font-weight: 700;
            color: rgb(61, 61, 61);
          }
          .sport-addr-tag {
            .nav {
              font-size: 16rpx;
              color: #a5a5a5;
              padding-left: 10rpx;
            }
          }
        }
      }
      .distance {
        height: 100rpx;
        width: 473rpx;
        background: #f8f9fc;
        border-radius: 10rpx;
        gap: 24rpx;
        align-items: center;
        margin: 0 auto;
        margin-top: 20rpx;
        .online-users,.users-reviews,.square-distance {
          text-align: center;
          .num {
            font-size: 27rpx;
            font-weight: 700;
          }
          .title {
            font-size: 27rpx;
            color: #99a4a5;
          }
        }
        // .users-reviews {

        // }
        // .square-distance {

        // }
        .t-f {
          font-size: 20rpx;
          color: rgb(61, 61, 61);
        }
        .t-f-1 {
          font-size: 20rpx;
          color: rgb(104, 104, 104);
          padding-left: 12rpx;
        }
      }
      .evaluate-top {
        display: flex;
        justify-content: center;
        margin-top: 20rpx;
        .view-sign {
          display: flex;
          align-items: center;
          margin-left: 10rpx;
        }
        .evaluate {
          // background: #e8e8e8;
          background: #f8f9fc;
          border-radius: 10rpx;
          width: 412rpx;
          // margin: 7rpx auto;
          padding: 0 10rpx;
          .review-card {
            display: flex;
            gap: 31rpx;
            align-items: center;
            padding-top: 7rpx;
            .o-user {
              width: 49rpx;
              height: 49rpx;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              border-radius: 50%;
              flex-shrink: 0;
              color: #fff;
            }
            .user-evaluate {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 21rpx;
              color: #333;
            }
          }
        }
      }
      
      .tags {
        gap: 20rpx;
        margin: 10rpx 0;
      }
    }
  }
  .basket {
    color: #ffffff;
  }
  .contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 30%;
    .tran-2 {
      position: relative;
      right: 36rpx;
    }
    .share-btn {
      opacity: 0.7;
      width: 93rpx;
      color: #2d2c2c;
      font-size: 37rpx;
    }
  }
  .flush-data {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 38%;
    right: 0;
    .tran-2 {
      position: relative;
      left: 36rpx;
    }
    .share-btn {
      opacity: 0.7;
      width: 93rpx;
      color: #2d2c2c;
      font-size: 37rpx;
    }
  }
  .message-reply {
    position: fixed;
    top: 30%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .tran-2 {
      position: relative;
      left: 36rpx;
    }
    .share-btn {
      opacity: 0.7;
      width: 93rpx;
      color: #2d2c2c;
      font-size: 37rpx;
    }
  }
}
.van-c {
  padding: 10rpx 0;
}
.van-b-isactive {
  background-color: #715dbc!important;
  color: #ffffff!important;
}
.van-b-isnotactive {
  background-color: #f9f9f9!important;
  // color: #ffffff!important;
}
.van-tag-c-1 {
  position: relative;
  left: 16rpx;
  bottom: 10rpx;
}
.van-tag-c {
  position: relative;
  left: 16rpx;
  bottom: 10rpx;
  background: #909090!important;
}
.c-van-tag-online-status {
  // border-radius: 55%!important;
  width: 20rpx!important;
  height: 20rpx!important;
  background: #ffffff;
}
.custom-selector-load {
  width: auto!important;
}
.van-transition-c {
  float: right!important;
  position: relative!important;
  bottom: 58rpx!important;
  right: 19rpx!important;
}

.check-list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250rpx;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.check-list-data {
  width: 70%;
  display: flex;
  // justify-content: left;
  margin: 0 auto;
  border-bottom: 1rpx solid #d2d2d2;
  .check-id, .check-addr, .check-submit {
    padding: 10rpx 10rpx;
  }
  .submit-flex {
    display: flex;
    justify-content: center;
    gap: 53rpx;
  }
  .addr-size {
    font-size: 26rpx;
  }
}
.tx-map {
  width: 93%;
  margin: 0 auto;
}
.van-empty__description {
  color: #dcdcdc!important;
}
.van-dialog-c .van-dialog__footer{
  text-align: center!important;
}
.privacy-title {
  text-align: center;
    margin: 18rpx 0;
    font-weight: 700;
}
.privacy-center {
  .privacy-content {
    padding: 0 11rpx;
    .privacy-item {
      font-weight: 600;
      font-size: 28rpx;
    }
    .privacy-detail {
      display: block;
      padding: 10rpx 23rpx;
      font-size: 28rpx;
    }
    .privacy-detail-important {
      font-weight: 700;
    }
  }
  .privacy-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17rpx 0;
    gap: 68rpx;
  }
}
.van-icon-l {
  position: relative;
  bottom: 3rpx;
  color: #ff6161;
}
.van-icon-2 {
  font-size: 35rpx!important;
  position: relative;
  top: 4rpx;
}
.van-icon-3 {
  position: relative;
  bottom: 8rpx;
  color: #ff6161;
}
.van-icon-4 {
  transform: rotate(180deg);
  transform-origin: center;
}
.sports-list-box {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  gap: 37rpx;
  flex-wrap: wrap;
  padding: 20rpx 20rpx;
}
.van-img-1 {
  width: 80rpx;
  height: 80rpx;
}
.van-img-2 {
  width: 49rpx;
  height: 49rpx;
}
.van-btn-1 {
  background: #f9f9f9!important; 
}
.van-tag-1 {
  position: relative;
  overflow: hidden;
}
.van-tag-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg, 
    transparent, 
    rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4), 
    transparent
  );
  animation: sweep 2s infinite;
}
@keyframes sweep {
    0% { left: -100%; }
    100% { left: 100%; }
}
.add-square-img {
  text-align: center;
  margin: 0 31rpx;
  border-top: 1rpx solid #efefef;
  
  padding-top: 16rpx;
  .title {
    font-size: 26rpx;
    color: #646566;
  }
  .img {
    margin: 18rpx auto;
  }
}
.check-box {
  height: 300rpx;
  overflow-y: auto;
  padding: 20rpx 20rpx;
  .check-container {
    margin: 10rpx 0;
    border-top: 1rpx solid #d8d8d8;
    .sport_addr {}
    .sport_key {}
    .sport_img {}
    .check-btn {
      margin-top: 17rpx;
      display: flex;
      justify-content: center;
      gap: 37rpx;
    }
  }
  .check-content {
    font-size: 26rpx;
    color: #333;
  }
  .check-title {
    font-size: 29rpx;
    font-weight: 700;
  }
}
.wx-nickname {
  height: 80rpx;
  border: 1rpx solid #d6d6d6;
  margin: 30rpx;
  border-radius: 10rpx;
  padding: 0 18rpx;
  font-size: 26rpx;
}
.van-search-1 {
  border-radius: 10rpx;
}